/* 연락 부분  제목 크기 및 중앙정렬 */
.main_contact .main_contact-intro{
    text-align: center;
    margin: var(--main-padding) auto;
    font-size: var(--head-size);
    font-weight: bold;
    padding-top: 30px;
}
/* 연락 부분 메인 사이즈 설정 */
.main_contact .main_contact-icon {
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
}
/* 연락 부분 각 파트별 크기 설정 및 중앙정렬 */
.main_contact .main_contact-icon ul{
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 연락 부분 링크 크기설정 및 애니메이션 효과 적용 */
.main_contact .main_contact-icon ul a{
    font-size: var(--contact-icon-size);
    text-decoration: none;
    color: white;
    transition: all 0.2s linear;
}
/* 호버시 40퍼센트 증가 */
.main_contact .main_contact-icon ul a:hover{
    transform: scale(1.4);
}
/* 링크 부분 주위 배경 설정 및 중앙정렬 */
.main_contact .main_contact-icon ul .main_contact-call,
.main_contact .main_contact-icon ul .main_contact-git,
.main_contact .main_contact-icon ul .main_contact-insta{
    width: 250px;
    height: 250px;
    background-color: var(--grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* 링크 및 텍스트 크기 설정 */
.main_contact .main_contact-icon ul .main_contact-calltext,
.main_contact .main_contact-icon ul .main_contact-gittext,
.main_contact .main_contact-icon ul .main_contact-instatext {
    color:var(--grey-color);
    font-size: calc(var(--contact-icon-size)/2);
    font-weight: bold;
    margin: var(--main-margin);
}